<html lang="en">
  <head>
    <title>Page Not Found</title>
  </head>
  <body>
    <h1 style="color:red; text-align:center;">ACCESS DENIED</h1>
    <h3>Heres a list of all pages available:</h3>
    <p>
    <a href="http://localhost:8080/">http://localhost:8080/</a> --> Returns this page<br>
    <a href="http://localhost:8080/json">http://localhost:8080/json</a> --> Returns json data<br>
    <a href="http://localhost:8080/denied">http://localhost:8080/denied</a> --> Returns 403 denied response<br>
    <a href="http://localhost:8080/not_found">http://localhost:8080/not_found</a> --> Returns 404 not found response<br>
    </p>
  </body>
</html>
